<!-- Side Navbar -->
<nav class="side-navbar">
  <div class="side-navbar-wrapper">
    <!-- Sidebar Header    -->
    <div class="sidenav-header d-flex align-items-center justify-content-center">
      <!-- User Info-->
      <div class="sidenav-header-inner text-center"><img src="assets/mercianta.jpg" alt="person" class="img-<app-template></app-template>fluid rounded-circle">
        <h2 class="h5">ABDOU KADER THIAM</h2><span>Web Developer</span>
      </div>
      <!-- Small Brand information, appears on minimized sidebar-->
      <div class="sidenav-header-logo"><a href="#" class="brand-small text-center"> <strong>AK</strong><strong class="text-primary">T</strong></a></div>
    </div>
    <!-- Sidebar Navigation Menus-->
    <div class="main-menu">
      <h5 class="sidenav-heading">Main</h5>
      <ul id="side-main-menu" class="side-menu list-unstyled">                  
        <li><a href="/listeuser"> <i class="icon-home"></i>LISTE</a></li>
        <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>PARTENAIRE </a>
          <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
            <li><a href="/partenaire">ajouter partenaire</a></li>
            <li><a href="/listepartenaire">ListerPartenaire</a></li>
          </ul>
        </li>
        <li><a href="/login"> <i class="icon-interface-windows"></i>Logout</a></li>
        
      </ul>
    </div>

  </div>
</nav>
<div class="page">
  <!-- navbar-->
  <header class="header">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-holder d-flex align-items-center justify-content-between">
          <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a><a href="index.html" class="navbar-brand">
              <div class="brand-text d-none d-md-inline-block"><span>tiakTiak</span><strong class="text-primary">Transfert</strong></div></a></div>
          <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
            <!-- Notifications dropdown-->
            <!-- Messages dropdown-->
            <li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"></a>
              <ul aria-labelledby="notifications" class="dropdown-menu">
                <li><a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                    <div class="msg-profile"> <img src="assets/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                    <div class="msg-body">
                      <h3 class="h5">Jason Doe</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                    </div></a></li>
                <li><a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                    <div class="msg-profile"> <img src="assets/img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                    <div class="msg-body">
                      <h3 class="h5">Frank Williams</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                    </div></a></li>
                <li><a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                    <div class="msg-profile"> <img src="assets/img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                    <div class="msg-body">
                      <h3 class="h5">Ashley Wood</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                    </div></a></li>
                <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-envelope"></i>Read all messages    </strong></a></li>
              </ul>
            </li>
            <!-- Languages dropdown    -->
            <li class="nav-item dropdown">
              <ul aria-labelledby="languages" class="dropdown-menu">
                <li><a rel="nofollow" href="#" class="dropdown-item"> <img src="assets/img/flags/16/DE.png" alt="English" class="mr-2"><span>German</span></a></li>
                <li><a rel="nofollow" href="#" class="dropdown-item"> <img src="assets/img/flags/16/FR.png" alt="English" class="mr-2"><span>French                                                         </span></a></li>
              </ul>
            </li>
            <!-- Log out-->
            <li class="nav-item">
              <a class="nav-link " (click)="auth.logOut()" style="color: white; cursor:pointer"> 
                Logout <i class="fa fa-sign-out"></i></a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>


<div id="temp">
<mat-form-field style="margin-top:40px;padding-top:20px;">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

  <div style="margin-top:40px;padding-top:20px;" class="mat-elevation-z8">

    <table style="margin:0px;padding:0px;width:100%;margging:50%;" mat-table [dataSource]="dataSource" matSort>

      <!-- Progress Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>username </th>
        <td mat-cell *matCellDef="let row"> {{row.username}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> roles </th>
        <td mat-cell *matCellDef="let row"> {{row.roles}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> nom </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.nom}} </td>
      </ng-container>

      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> prenom </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.prenom}} </td>
      </ng-container>

      <ng-container matColumnDef="tel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> tel </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.tel}} </td>
      </ng-container>

      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > mail </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.mail}} </td>
      </ng-container>

      <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> statut </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.statut}} </td>
      </ng-container>

      <ng-container matColumnDef="adresse">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> adresse </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.adresse}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>