
table{
    margin-top: 100px;
    // width: 100%;
    margin-top: 50%;
    margin-left: 10%;
    

    
    
}
.pag{
    width: 30%;
    margin-top: 0%;

}
#temp{
    width: 85%;
    margin-left: 200px;
}