<app-template></app-template>
<div class="col-lg-6">
  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h4>DEPOT</h4>
    </div>
    <div class="card-body">
      <p>TiakTiak Transfert le moyen sure et efficace</p>
      <form class="form" #imageForm=ngForm (ngSubmit)="OnSubmit(numcompte,somme)">
        <div class="form-group">
          <label>NUEMRO COMPTE</label>
          <input type="number" ngModel #numcompte name="numcompte" placeholder="numero compte" class="form-control">
        </div>
        <div class="form-group">       
          <label>montant</label>
          <input type="number" ngModel #somme name="somme" placeholder="montant" class="form-control">
        </div>
        <div class="form-group">       
          <input type="submit" value="Signin" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>