<app-template></app-template>


<div id="cont">
  <div class="col-lg-10">
    <div class="card">
      <div class=" d-flex align-items-center">
        <h4>ENVOYER DE L'ARGENT</h4>
      </div>
      <div class="card-body text-center">
        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">ENVOI D'ARGENT
        </button>
        <!-- Modal-->
        <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
          class="modal fade text-left">
          <div role="document" class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 id="exampleModalLabel" class="modal-title">formulaire d'envoie d'argent</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                    aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                <p>tiak tiak transfert d'argent la voie sure et efficace</p>
                <form class="form" #imageForm=ngForm (ngSubmit)="OnSubmit(nomE,prenomE,telE,nomR,prenomR,telR,montant)">
                  <div class="form-group">
                    <label>nomE</label>
                    <input type="text" name="nomE" ngModel #nomE placeholder="nomExpediteur" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>prenomE</label>
                    <input type="text" name="prenomE" ngModel #prenomE placeholder="prenomExpediteur"
                      class="form-control">
                  </div>
                  <div class="form-group">
                    <label>telE</label>
                    <input type="number" name="telE" ngModel #telE placeholder="nomExpediteur" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>nomR</label>
                    <input type="text" name="nomR" ngModel #nomR placeholder="prenomExpediteur" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>prenomR</label>
                    <input type="text" name="prenomR" ngModel #prenomR placeholder="nomExpediteur" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>telR</label>
                    <input type="number" name="telR" ngModel #telR placeholder="prenomExpediteur" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>montant</label>
                    <input type="number" name="montant" ngModel #montant placeholder="nomExpediteur"
                      class="form-control">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">ENVOYER</button>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">FERMER</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>