<!-- <table class="table">
  <thead>
      <th scope="col">username</th>
      <th scope="col">roles</th>
      <th scope="col">nom</th>
      <th scope="col">prenom</th>
      <th scope="col">Tel</th>
      <th scope="col">mail</th>
      <th scope="col">adresse</th><!
  </thead>
  <tbody >
        <tr  *ngFor ="let user of users">
          <td>{{user.username}}</td>
          <td>{{user.roles}}</td>
          <td>{{user.nom}}</td>
          <td>{{user.prenom}}</td>
          <td>{{user.tel}}</td>
          <td>{{user.mail}}</td>
          <td>{{user.adresse}}</td>
      </tr>
  </tbody>
</table> -->